@using Core.DTOs
@model ForgotPasswordViewModel

<h1>ForgotPassword Page</h1>

<form method="post">
    <div class="input-group">
        <input asp-for="EmailOrUsername" placeholder="Username Or Email" class="form-control" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-success">
        Submit
    </button>
</form>

