@using Core.DTOs
@model ResetPasswordViewModel
<h1>ResetPassword Page</h1>

<form method="post">
    <input type="hidden" asp-for="ActiveCode" />
    <div class="input-group">
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="input-group">
        <input asp-for="RePassword" type="password" class="form-control" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <button class="btn btn-success">Password</button>

</form>